
//Fonts//
//Family
$font-header: 'Bricolage Grotesque', sans-serif;
$font-body: 'Fira Mono', sans-serif;

//Sizes
$text-size-xxl:6rem;
$text-size-large:3rem;

//Spacers//
$spacer-xxs: 0.2rem;
$spacer-xs: 0.3rem;
$spacer-small: 0.5rem;
$spacer-medium: 1rem;
$spacer-large: 2rem;
$spacer-xlarge: 3rem;
$spacer-xxlarge: 5rem;