

.about {
    &__wrapper {
        display: flex;
        justify-content: center; 
        gap: 5rem;
        overflow: hidden;
        max-width: 100%;
    }
    &__title {  
        line-height: 1;
        position: relative;
        z-index: 1;
        margin-bottom: 1rem;  
        &::after {
            content: attr(data-text);
            position: absolute;
            left: 4px;
            top: 4px;
            z-index: -1;
            background-image: linear-gradient(to right, $yellow, $orange, $pink, $purple);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @media (max-width: 768px) {
                left:2px;
                top: 2px;
          }
        }
    }

    &__highlightedWords {
        display: flex;
        font-weight: 700;
        gap: 5px;
    }

    &__img {
        clip-path: circle(50% at 50% 50%);
        overflow: visible;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

