.themedBadge{
    line-height: 1rem;
    font-family: $font-body;
    
    @media (max-width: 768px) { 
        line-height: 3rem;
  
      }
    }

.themedBadge-list > * {
    @extend .themedBadge;
    background-color: $lighter;
    color: $darker;
    padding:0.3rem;
    margin: 0.2rem;
}

.themedBadge-detail > * {
    @extend .themedBadge;
    background-color: $darker;
    color: $lighter;
    padding:0.5rem;
    margin: 0.5rem;

    @media (max-width: 768px) { 
        padding:0.3rem;
        margin: 0.3rem;
      }
    
}
