.btn-themed{
font-family: $font-body;
font-weight: 500;
border-radius: 0;
}

.btn-color-behaviour{
    background-color: $lighter;
    color: $darker;
    &:hover{
        background-color: $darker;
        color: $lighter ;
        border-radius: 0;
    }
}
.btn-themed-icon{
    @extend .btn-color-behaviour;
}

.btn-themed-primary{
    @extend .btn-themed;
    border: 0.3rem solid $primary;    
}

.btn-themed-tertiary{
    @extend .btn-themed;
    @extend .btn-color-behaviour;
}