
.header{
    text-shadow: 2px 0px $color-primary, 0px 2px  $color-contrast; 
    text-transform: uppercase;
    font-weight: 900;
}

.button__download{
    background-color: $color-secondary;
    cursor: pointer;
    color: white;
    padding: 1rem;
    &:hover {
      background-color: $color-contrast;
    }
  }