.nav {
    z-index: 2;
    background-color: $light;
    position: sticky;
    top: 0;
    justify-content: space-around;
    font-family: $font-body;

    &__logo {
        width: 3rem;
    }

    ul {
        margin-top: 1rem;

        li {
            list-style-type: none;

            a {
                color: default;
                text-decoration: none;
                padding: 1rem;
                color: $darker;
            }

            :hover {
                color: $lighter;
                background-color: var(--random-color);
            }
        }
    }
}

@media (max-width: 768px) {
    .nav {
        &__logo {
            display: none;
        }
        ul {
            li {
                a {
                    padding: 0.8rem;
                }
            }
        }
    }
}