@import 'Reset/colors';

// Utilities
@import 'Utilities/mixins';
@import 'Utilities/variables';
@import 'Utilities/_theme';

//Reset
@import 'Reset/typography';

//Pages
@import 'Pages/stack';
@import 'Pages/projects';
@import 'Pages/about';
@import 'Pages/contacts';
@import 'Pages/footer';

// Components
@import 'Components/navbar';
@import 'Components/buttons';
@import 'Components/badges';

// Templates
@import 'Templates/projectDetail';
@import 'Templates/projectDetailTemplate2';

body {
    margin: 0 auto;
    background-color: $lighter;    
    ::selection {
        background-color: $pink;
        color: $lighter;
    }
}