@import 'fonts';
@import 'colors';
@import 'projects';
@import 'about';
@import 'contacts';
@import 'footer';
@import 'navbar';
@import 'stack';
@import 'mixins';
@import 'buttons';
@import 'projectDetail';
@import 'projectDetailTemplate2';
@import 'badges';

body {
    margin: 0 auto;
    color: default;
    background-color: $lighter;

    ::selection {
        background-color: $pink;
        color: $lighter;
    }
}


// @media (prefers-color-scheme: dark) { 

// }
