@import 'fonts';
@import 'colors';
@import 'projects';
@import 'intro';
@import 'contacts';

body{
    margin: 0 auto;
    padding: 2rem;
    background-color: $color-bg;
    color: $color-dark;
    }
  
      